body {
  background-image: url('tresleches.jpg');
  background-size: cover;
  color: #333333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1, h2, h3 {
  margin: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 20px;
}

a {
  color: #333333;
  text-decoration: none;
}

section {
  margin-bottom: 20px;
}

section h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

section p {
  margin-bottom: 10px;
}




