body {
  background-image: url('tresleches.jpg');
  background-size: cover;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.content {
  flex: 1;
}

.side-element {
  flex: 0.3;
  background-color: lightgray;
  padding: 10px;
}

h1, h2, h3 {
  color: #333;
}

table {
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 20px;
}

.nutrition-tab {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

.nutrition-tab table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-tab th,
.nutrition-tab td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.nutrition-tab th {
  background-color: lightgray;
}

@media screen and (min-width: 769px) {
  body {
    background-size: cover;
  }

  .container {
    flex-direction: row;
  }

  .side-element {
    flex: 0.3;
    margin-top: 0;
    background-color: lightgray;
    padding: 10px;
  }

  .ingredient-tab, .instruction-tab {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }

  .instruction-tab {
    display: block; 
  }

  .ingredient-tab ul, .instruction-tab ol {
    padding-left: 20px;
  }

  table {
    font-size: 16px;
  }

  th, td {
    padding: 8px;
  }
}


@media screen and (max-width: 768px) {
  body {
    background-size: contain;
  }

  .container {
    flex-direction: column;
  }

  .content {
    margin: 10px;
  }

  .side-element {
    flex: 1;
    margin-top: 10px;
    background-color: lightblue;
    padding: 5px;
  }

  .instruction-tab {
    display: none; 
  }

  .instruction-tab.active {
    display: block; 
  }

  .ingredient-tab ul, .instruction-tab ol {
    padding-left: 20px;
  }

  table {
    font-size: 14px;
  }

  th, td {
    padding: 6px;
  }
}


